* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}
.logo {
  font-size: 20px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 300px;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}
header {
  background-image: url("./images/bread.jpg");
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
header .title {
  position: absolute;
  padding: 15%;
}
.title h1 {
  color: white;
  font-size: 5em;
}
.title p {
  color: white;
  text-align: right;
  font-size: 1.5em;
}
.head-section {
  text-align: center;
  width: 60%;
  margin: 5% auto;
}
.head-section h1 {
  margin: 5% auto;
  font-size: 2.5em;
}
.head-section p {
  letter-spacing: 1px;
  font-size: 1.2em;
  line-height: 1.5em;
}
.cards .chef-img {
  border-radius: 50%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
.cards h4 {
  margin: 30px 0px;
  font-size: 1.5;
}
.cards div {
  text-align: center;
  padding: 30px;
  margin: auto 30px;
  flex: 1;
}
footer {
  width: 100%;
  background-color: #303030;
  height: 10vh;
  position: relative;
}
footer ul {
  position: absolute;
  right: 30px;
  top: 50px;
  display: flex;
  justify-content: space-around;
  width: 300px;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
}
.red-bg {
  background-color: #ffeded;
  padding: 20px 0px;
}
.story-form {
  text-align: right;
}
.story-form .form-input {
  display: block;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}
.btn-red {
  margin: 20px 0px;
  background-color: #eb4034;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 10px 40px;
}
.btn-red:hover {
  background-color: #b3372e;
}
.services section {
  display: flex;
}
.services div {
  padding: 30px;
}
.services h1 {
  font-size: 2em;
}
.services p {
  margin: 10px 0px;
  height: 1.5;
}
